$primary-font: 21px 'Courier New';
$title-font: 36px 'Courier New';

@mixin border-radius($top_left, $top_right, $bottom_right, $bottom_left) {
    -webkit-border-radius: $top_left $top_right $bottom_right $bottom_left;
    -moz-border-radius: $top_left $top_right $bottom_right $bottom_left;
    -ms-border-radius: $top_left $top_right $bottom_right $bottom_left;
    border-radius: $top_left $top_right $bottom_right $bottom_left;
}

@mixin background-tiled($image_name, $repeat, $position) {
    background-image: url("/images/" + $image_name);
    background-repeat: $repeat;
    background-position: $position;
}

html, body {
    height: 100%;
}

body {
    background-color: #000;
    padding: 0;
    margin: 0;
}

.menu__left_border {
    @include background-tiled("menu_left_border.gif", repeat-y, right);
}

.menu__right_border {
    @include background-tiled("menu_right_border.gif", repeat-y, left);
}

.menu__main {
    @include background-tiled("menu_background.png", repeat-y, center center);
}

.menu__main__div {
    width: 1050px;
    text-align: center;
}

.menu__title {
    color: #ddfefd;
    font: $title-font;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;
}

.menu__button {
    width: 100%;
    height: 107px;
    color: #ddfefd;
    font: $primary-font;
    font-weight: bold;
    @include background-tiled("main_button_background.png", no-repeat, center center);
    display: block;
    position: relative;
}

.menu__button:hover {
    background-image: url("/images/main_button_hover_background.png");
}

.menu__button__span {
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0px;
    z-index: 1;
}

.menu__overlay {
    background-color: black;
    color: white;
    width: 1050px;
    height: 680px;
    position: absolute;
    z-index: 2;
}

.scoreboard__item {
    color: black;
    font: $primary-font;
}

.full_screen_view_container {
    height: 100%;
}

.game {
    text-align: center;
}

.game__overlay_container {
    position: absolute;
}

.game__left_border {
    @include background-tiled("game_left_border.gif", repeat-y, right);
}

.game__right_border {
    @include background-tiled("game_right_border.gif", repeat-y, left);
}

.game__main {
    @include background-tiled("game_background.png", repeat-y, center center);
}

.game__main__shadow_top {
    @include background-tiled("game_shadow_top.png", repeat-x, bottom);
}

.game__main__shadow_bottom {
    @include background-tiled("game_shadow_bottom.png", repeat-x, top);
}

.game_button {
    width: 218px;
    height: 51px;
    text-align: center;
    @include background-tiled("game_button_background.png", no-repeat-x, center);
}

.game_button {
    a, a:visited, a:hover {
        color: #ddfefd;
        font: $primary-font;
        font-weight: bold;
        text-decoration: none;
    }
}

.gameover {
    $width: 320px;
    $height: 100px;
    width: $width;
    height: $height;
    background: #23578f;
    color: #ddfefd;
    font: $primary-font;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -1 * ($width / 2);
    margin-top: -1 * ($height / 2);
    padding: 20px;
    @include border-radius(12px, 0, 12px, 0);
}

.gameover__title {
    text-align: center;
    font-weight: bold;
}

.gameover__score_submit {
    text-align: center;
}

.notsupported {
    text-align: center;
}

.notsupported__text {
    font: $primary-font;
    color: white;
}

.notsupported__link, .notsupported__link:visited, .notsupported__link:hover {
    font: $primary-font;
    font-weight: bold;
    color: #01b0bb;
    text-decoration: none;
}

.notsupported__link:hover {
    text-decoration: underline;
}

.loading {
    text-align: center;
}

.loading__text {
    font: $primary-font;
    color: white;
}